{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["standard", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": 0
  }
}